node_modules

bootstrapper
bootstrapper_browser
bootstrapper_node
bpmn-studio
bpmn-studio_client
bpmn-io_custom-bundle
caching
caching_contracts
core
core_contracts
data_model
data_model_contracts
datasource_adapter_base
datasource_adapter_localstorage
datasource_adapter_mongodb
datasource_adapter_orientdb
datasource_adapter_postgres
datasource_adapter_proxy
datasource_adapter_redis
datastore
datastore_contracts
datastore_http
datastore_messagebus
datastore_messagebus_contracts
demo
documentation
errors_ts
event_aggregator
event_aggregator_contracts
feature
feature_contracts
foundation
frontend
frontend_contracts
frontend_http
frontend_mui
frontend_react_plugin_process_manager
graphql
graphql_contracts
graphql_http
http
http_contracts
http_extension
http_integration_testing
http_node
iam
iam_browser
iam_contracts
iam_http
invocation
invocation_contracts
keyscopes
messagebus
messagebus_adapter_faye
messagebus_adapter_faye_browser
messagebus_adapter_local
messagebus_contracts
messagebus_http
metadata
metadata_contracts
package-lock.json
pki_service
pki_service_contracts
process_engine
process_engine_client_api
process_engine_client_processable_react
process_engine_contracts
process_engine_http
process_repository
process_repository_browser
routing
routing_contracts
security_service
security_service_contracts
services
services_contracts
skeleton
timing
timing_contracts
tslint-config
utils
validation
validation_contracts

# OSX-finder info-files
*.DS_Store

# IDE configs
.vscode
.idea/
*.iml
*.iws
.classpath
.project
.settings/

