node_modules
correlations.sqlite
cronjob_history.sqlite
external_task.sqlite
processengine.sqlite
flow_node_instance.sqlite
process_model.sqlite
timer.sqlite
sqlite_temp.json

bootstrapper
bootstrapper_contracts
bootstrapper_browser
bootstrapper_node
bpmn-studio_client
bpmn-io_custom-bundle
bpmn-studio
documentation
errors_ts
event_aggregator
event_aggregator_contracts
http
http_contracts
http_node
http_extension
iam
iam_contracts
identity_server
process_engine
process_engine_core
process_engine_contracts
sequelize_connection_manager
services
services_contracts
skeleton
timing
timing_contracts
tslint-config

# OSX-finder info-files
*.DS_Store

# IDE configs
.vscode/*
!.vscode/launch.json
.idea/
*.iml
*.iws
.classpath
.project
.settings/

